*{
    margin: 0;outline: 0;padding: 0;
}
body{
    font-family: Arial;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
.content{background: gray; width: 800px; margin:  0 auto;}
.maincontent{
    background: #dddddd;
    min-height: 500px;
    margin: 10px;
    padding: 5px 10px;
color: #000000}
.header,.footer{text-align: center;padding: 10px;background: gray;}

.skill{background-color:gray;margin-left: 46px; width: 114px; padding: 6px 30px }
.skill ul{ margin: 0px; padding: 0px; list-style: none; }
.skill ul li{cursor: pointer;}

.refresh{background-color:gray;margin-left: 46px; width: 200px; padding: 6px 30px }
.refresh ul{ margin: 0px; padding: 0px; list-style: none; }
.refresh ul li{cursor: pointer;}

.tableDesign{ width: 100%; }
.tableDesign tr{} 
.tableDesign tr td {}

.tableDesign {border: 1px solid #fff;margin-bottom: 12px; width: 100%;
}
.tableDesign th {
  background: #666 none repeat scroll 0 0;
  color: #fff;
  font-size: 20px;
  padding: 5px 8px;
  text-align: center;
}
.tableDesign td{padding:10px;text-align:center;}

table.tableDesign tr:nth-child(2n+1){background:#fff;height:30px;}
table.tableDesign tr:nth-child(2n){background:#fdf0f1;height:30px;}
.paragraph {height: 200px;width: 713px;background-color: #fff;padding: 20px; margin-top: 51px;position: relative;}
.new{height: 200px;width: 200px; position: absolute; background-color: #ddd;border: 1px solid #999; border-radius: 50%;}
.paragraph1 {height: 200px;width: 713px;background-color: #fff;padding: 20px; margin-top: 51px;position: relative; display: none;}
.text {color: red; float: right;border-radius: 20px;border: 1px solid black;}
.bg{background-color: black;color:white;}
.paragraph2{width: 713px;background-color: #fff;padding: 20px; margin-top: 51px;}
.dimention{background-color: #ddd;border: 40px solid #999;padding: 50px;margin:40px; font-size: 40px;text-align:center;}